[submodule "third/godot-cpp"]
	path = third/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "ci"]
	path = ci
	url = https://github.com/godothub/gdpp.git
[submodule "third/ninja"]
	path = third/ninja
	url = https://github.com/ninja-build/ninja.git
