/build/
/out/
/cmake-build-*/
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Testing/
/Makefile
/build.ninja
/.ninja_deps
/.ninja_log
/cmake_install.cmake
/install_manifest.txt
/compile_commands.json
/CMakeUserPresets.json

/.cache/
/.clangd/
/.idea/
/.vscode/
/.vs/
/.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

/example/.godot/
*.swp
*.user
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
Desktop.ini
/FORME.md
._*
